<form action="{{ path('form') }}" method="{{ method }}" enctype="multipart/form-data">
    <input type="hidden" name="action" value="{{ action }}">

    {% for field in fields %}
        {{ field.template }}
        <input type="hidden" name="{{ field.name }}[type]" value="{{ field.type }}">
    {% endfor %}

</form>

{% if ajax %}
    <script src="{{ __scripts__ }}admin/ajaxForm.js"></script>
{% endif %}