<div class="{{ attr.class }} form-input-around"><div class="custom-file"> 
    <input type="file" name="{{ name }}" class="custom-file-input {{ attr.class }}" id="{{ attr.id }}"> 
    <label class="custom-file-label" for="custom-file1">{{ label }}</label>     
    </div></div>