<div class="{{ attr.class }} form-input-around"><input 
    name="{{ name }}" 
    type="{{ type }}" 
    class="form-control" 
    id="{{ attr.id }}" 
    placeholder="{{ attr.placeholder }}"
    value="{{ value }}"
></div>