<div class="form-input-around col-lg-12">
    {% if entities %}
        <select
            name="{{ name }}[value]{{ metadata.multiple ? '[]' : '' }}" 
            class="form-control {{ attr.class }}" 
            id="{{ attr.id }}"
            {% if attr.disabled %}
                disabled="disabled"
            {% endif %}
            {% if metadata.multiple %}
                multiple="multiple"
            {% endif %}
        >
            {% for entity in entities %}
                <option {{ entity.selected ? 'selected' : '' }} value="{{ entity.id }}">{{ entity }}</option>
            {% endfor %}
        </select>
    {% else %}
        {{ dump(entity) }}
    {% endif %}

</div>