<div class="{{ attr.class }} form-input-around">
    <input 
        name="{{ name }}[value]" 
        type="{{ type }}" 
        class="form-control" 
        id="{{ attr.id }}" 
        placeholder="{{ attr.placeholder }}"
        value="{{ value }}"
        {% if attr.disabled %}
            disabled="disabled"
        {% endif %}
    >
</div>