<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lampion</title>

    <link rel="stylesheet" href="{{ __css__ }}vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ __css__ }}vendor/fa/css/all.min.css">
    <link rel="stylesheet" href="{{ __css__ }}vendor/prism/prism.css">

    <link rel="stylesheet" href="{{ __css__ }}partials/code/code.css">
    <link rel="stylesheet" href="{{ __css__ }}partials/code/php.css">

    <link rel="stylesheet" href="{{ __css__ }}partials/header.css">
    <link rel="stylesheet" href="{{ __css__ }}partials/error.css">
</head>
<body>

    <nav class="lampion-header navbar navbar-expand-md navbar-light bg-white">
        <div class="gradient-line"></div>

        <a class="navbar-brand" href="#">
            <h5>Lampion</h5>
        </a>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-sm btn-outline-primary" target="_blank" href="https://github.com/MatthewTeply/Lampion/wiki"><i class="fas fa-book"></i> Documentation</a>
                </li>
            </ul>
        </div>
    </nav>